<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to Montecinema </h1>
    <p>
      Your reservation: <%= @reservation.id %> for <%= @movie %> has been succesfull.
      The screening will start at <%= @date %>. 
      Please remeber you have to pay for it 30 minuts before screening
    </p>
  
    <p>Thanks for your reservation and have a great day!</p>
  </body>
</html>